.env
*.m4a
server/別再被誤導了!你真的不需要一年讀100本書!.mp4
server/別再被誤導了!你真的不需要一年讀100本書!.mov

# Local Netlify folder
.netlify
functions
server/node_modules/.package-lock.json
server/.env
/node_modules
*/twcomponents
client/.env.development
client/.env.production
